
.pallete{
    display: flex;
}
.input{
    display: flex;
    margin-bottom: 10px;
}
.canvas_text{
    margin-bottom: 10px;
}
.picker_container{
    margin-right: 50px;
}
.dropdown_container{
    margin-right: 80px;
}

.list{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
}
.canvas_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap";

}
.canvas{
grid-area: overlap;
}
.input2{
    width: 40px;
    height: 40px;
   font-size: 37px;
  
    grid-area: overlap;
    align-self: center;
    justify-self: center;
    border:none;
}
.input2:hover{
    width: 54px;
    height: 54px;
    font-size: 50px;
}